body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-image: linear-gradient(to bottom right, black, cyan);
}
header{  background-image: linear-gradient(to bottom right, black, cyan);


}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: white;
  border-left: 3px solid black;
  padding: 10px;
}




.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid black
}

.hour {
  background-color: orange;
  color: #000000;
  border-top: 1px dashed #000000;
}
/* class will be add after checking present time with the hour in moment and it will be show the past,future,present time according to user time setup */
.timeAgo {
  background-color: gray;
  color: white;
}

.now {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.save{
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius:50%;
  background-color: orange;
  color: white;
}

.save i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
